.SUSU{
    position: absolute;
    top: 94%;
    left: 50%;
    transform: translate(-50%, 0);
    margin: 0;
    width: 100%;
    height: 2.5rem;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
}

.SUSU > div {
    margin: auto 0;
    width: 60%;
    height: 55%;
    float: left;
    display: flex;
    align-items: center;
}

.SUSU > div > p {
    margin-right: 12px;
    margin-left: auto;
}

.SUSU > div > a{
    height: auto;
    margin: auto 0;
    margin-right: auto;
    width: 40%;
    max-width: 96px;
    float: left;
}

.SUSU > div > a:visited{
    text-decoration: none;
}

.SUSU > div > a:hover{
    cursor: pointer;
}

@media(max-width:640px){
    .SUSU > div {
        width: 80%;
    }
    .SUSU > div > p  {
        margin-right: 6px;
    }
}